[Unit]
Description=Mailpit server
After=network.service

[Service]
Type=simple
EnvironmentFile=/etc/default/mailpit
ExecStart=/usr/local/sbin/mailpit
StandardOutput=journal
Restart=always
SyslogIdentifier=mailpit
User={{ mailpit_user }}
Group={{ mailpit_group }}

[Install]
WantedBy=multi-user.target
